<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @account.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @account.telefono %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @account.dni %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
